{% extends 'app_base.html' %}

{% block navigation %}
    {% with page_type='index' %}
        {% include 'nav_bar.html' %}
    {% endwith %}
{% endblock navigation %}

{% block page_css %}
    {{ super() }}
{% endblock page_css %}

{% block page_content %}
    <div class="container">
        <h2>Search</h2>
        <div class="input-group">
            <input id="search-input" type="text" class="form-control" aria-label="Text input with segmented dropdown button">
            <div class="input-group-append">
                <button id="search-button" type="button" class="btn btn-outline-secondary" data-type="all">Search (All)</button>
                <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Search Configuration</span>
                </button>
                <div id="search-config" class="dropdown-menu">
                    <a class="dropdown-item" href="#" data-type="all">Search (All)</a>
                    <div role="separator" class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" data-type="name">Search (Name)</a>
                    <a class="dropdown-item" href="#" data-type="sku">Search (SKU)</a>
                </div>
            </div>
        </div>

        <div id="products-list"></div>
    </div>
{% endblock page_content %}

{% block page_js %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/search.js') }}"></script>
{% endblock page_js %}
