<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Manager</title>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.js') }}"></script>
</head>
<body>
<h1>Product Manager</h1>
<p>
    Active Products: <span id="active-product-count"></span>
</p>
<p>
    InActive Products: <span id="inactive-product-count"></span>
</p>
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>