{% extends 'app_base.html' %}

{% block title %}Add | Product Manager{% endblock title %}

{% block navigation %}
    {% with page_type='products_create' %}
        {% include 'nav_bar.html' %}
    {% endwith %}
{% endblock navigation %}

{% block page_content %}
    <div class="container">
        <div id="product-create"></div>
    </div>
{% endblock page_content %}

{% block page_js %}
    {{ super() }}
    <script type="text/javascript">
        $(function () {
            // Initialize Toastr Options
            toastr.options = {
                'closeButton': true,
                'debug': false,
                'newestOnTop': true,
                'progressBar': false,
                'positionClass': 'toast-top-right',
                'preventDuplicates': false,
                'onclick': null,
                'showDuration': '300',
                'hideDuration': '1000',
                'timeOut': '5000',
                'extendedTimeOut': '1000',
                'showEasing': 'swing',
                'hideEasing': 'linear',
                'showMethod': 'fadeIn',
                'hideMethod': 'fadeOut'
            };

            // Insert Product Box
            $('#product-create').html(_.template($('#ProductTmpl').html())({
                sku: null,
                description: null,
                is_active: true,
                id: null
            }));

            // Create Product
            $(':input[name="submit"]').on('click', function (event) {
                event.preventDefault();
                event.stopPropagation();

                let $elem = $(event.currentTarget);

                let $productContainer = $elem.parent();
                let productName = $productContainer.find(':input[name="name"]').val();
                let productSku = $productContainer.find(':input[name="sku"]').val();
                let productDescription = $productContainer.find(':input[name="description"]').val();
                let productIsActive = $productContainer.find(':input[name="is_active"]').prop('checked');

                $.ajax({
                    method: 'POST',
                    url: {{ url_for('productresourcelist') }},
                    data: {
                        is_active: productIsActive,
                        name: productName,
                        sku: productSku,
                        description: productDescription
                    }
                }).done(function (data) {
                    toastr['success']('Product ' + data.id + ' Created', 'Success');
                }).fail(function () {
                    toastr["error"]('Failed Creating Product', "Success")
                });
            });
        });
    </script>
{% endblock page_js %}
