{% extends 'app_base.html' %}

{% block title %}Import | Product Manager{% endblock title %}

{% block navigation %}
    {% with page_type='products_import' %}
        {% include 'nav_bar.html' %}
    {% endwith %}
{% endblock navigation %}

{% block page_content %}
    <div class="container">
        <h2>Products Import (CSV)</h2>

        <p>
        <h3>Upload products in bulk through a CSV file.</h3>
        <br/>
        NOTE: SKU should be unique. If duplicate, then the older entry will be kept while discarding the newer entry.
        </p>

        <div class="alert alert-warining hidden" id="support-alert">
            <b>Warning!</b> Your browser does not seem to support the features necessary to run tus-js-client. The buttons below may work but probably
            will fail silently.
        </div>
        <br/>
        <input type="file" class="form-control-file">

        <br/><br/>

        <div class="row">
            <div class="col-md-10">
                <div class="progress progress-striped progress-success">
                    <div class="progress-bar progress-bar-striped" style="width: 0%;"></div>
                </div>
            </div>
            <div class="col-md-2">
                <button class="btn stop" id="toggle-btn">start upload</button>
            </div>
        </div>

        <hr/>
        <p id="upload-result">
        </p>
    </div>
{% endblock page_content %}

{% block page_js %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/tus.js') }}"></script>
    <script src="{{ url_for('static', filename='js/products_import_main.js') }}"></script>
{% endblock page_js %}
